---
layout: default-dark
title: "Recent Marks"
date: 2017-10-19
tags: logos branding
description: Here's a handful of logos I've taken part it in recently.
permalink: /projects/brands
---
<article class="grid" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" style="color: white">
  <header class="post-header container">
    <h2 itemprop="name headline">{{ page.title }}</h2>
    <div>
      <time class="post-header__time" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y" }}
        {% if page.tags.size > 0 %}
          <span class="post-content__tags"> •
            {% for tag in page.tags %}
              <a href="{{ site.baseurl }}/tag/{{ tag | downcase | slugify }}">{{ tag }}</a>{% if forloop.last == false %} • {% endif %}
            {% endfor %}
          </span>
        {% endif %}
      </time>
      <p class="post-header__description">{{ page.description }}</p>
    </div>

  </header>

  <div class="container-double">
    <figure>
      <img src="/assets/images/brands/1_logo_bar-solita.png" alt="Bar Solita Logo"/>
    </figure>
    <figure>
      <img src="/assets/images/brands/2_logo_rrw.png" alt="RRW Logo"/>
    </figure>
  </div>

  <div class="container">
    <figure>
      <img src="/assets/images/brands/3_logo_hidden-wit.png" alt="Hidden Wit Concepts"/>
    </figure>
  </div>

  <div class="container-double">
    <figure>
      <img src="/assets/images/brands/4_logo_river-city.png" alt="Bar Solita Logo"/>
    </figure>
    <figure>
      <img src="/assets/images/brands/5_logo_forrva.png" alt="Bar Solita Logo"/>
    </figure>
    <figure>
      <img src="/assets/images/brands/6_logo_polosko.png" alt="Polosko Concept"/>
    </figure>
    <figure>
      <img src="/assets/images/brands/7_logo_ml.png" alt="Meaghan Long Logo"/>
    </figure>
    <figure>
      <img src="/assets/images/brands/8_logo_poorboys.png" alt="Poor Boys Concepts"/>
    </figure>
    <figure>
      <img src="/assets/images/brands/9_logo_sparkmill.png" alt="Sparkmill Concepts"/>
    </figure>
  </div>
  <div class="container">
    <figure>
      <img src="/assets/images/brands/10_logo_rvax.png" alt="The Richmond Experience Logos"/>
    </figure>
  </div>

</article>
<div class="container-btn section-padding">
  <a class="btn" href="/projects">
    <div>
      <span>All Projects</span>
      <span>All Projects</span>
    </div>
  </a>
</div>
