---
layout: default
title: Projects
description:
permalink: /projects
---
<section id="blog" class="section-padding bg-grey">
  <div class="grid">
    <span>A portion of my recent & non-recent work —
</span>
    <ul class="container-triple" itemscope itemtype="http://schema.org/Blog">
      {% for post in site.posts %}
        <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <!-- <div class="preview__img bg-alpha">
              <figure class="absolute-bg wow fadeIn" data-wow-delay="600ms" style="background-image: url('{{ post.image }}');"></figure>
            </div> -->
            <a class="preview__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
              <h1 itemprop="name">{{ post.title }}</h1>
            </a>
              {% if post.description %}
              <p>{{ post.description }}</p>
              {% endif %}
              {% if post.year %}
              <h5 class="preview__date">{{ post.year }}</h5>
              {% endif %}
              <!--<time class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>-->
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
