---
layout: default
---
<div class="bio">

  <div class="bio__desc">
    <h2 data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">Hello. I am a multi-hyphenated designer, developer and mountain lover working for <a href="https://www.campfireandco.com">Campfire & Co.</a> in <a href="">Richmond, VA.</a></h2>
    
  </div>
  {% if site.data.social %}
    <ul class="bio__social" data-aos="fade-up"data-aos-delay="400" data-aos-duration="1000">
      {% for item in site.data.social %}
        <li class="nav-item"><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>


<img class="mast-right" data-aos="fade-down" data-aos-duration="1000" src="assets/baby-clap.jpg" alt="" style="opacity: 1;" />


<!-- {% include posts_list.html %} -->
