<div class="bio">
  <div class="bio__header">
    <a class="bio-title" data-aos="fade-up" data-aos-duration="600" href="{{ site.url }}{{ "/" | relative_url }}">
      <h1>{{ site.header }}</h1>
    </a>
    <div class="site-nav" data-aos="fade-up" data-aos-duration="600">
      {% if site.data.navigation %}
        <ul class="bio__nav">
          {% for item in site.data.navigation %}
            <li class="nav-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
