// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  z-index: 999;
  top: 0;
  padding-top:    1rem;
  background: $gray-1;
  width: 95%;
  position: fixed;

  img{
    float: left;
    margin: 0;
    padding: 0;
    width: 100px; height: auto;
    display: inline;
    line-height: 105px;
  }
}

.masthead-title {
  line-height: 105px;
  margin: 0; padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5%;
  float: left;



  a {
    color: inherit;
    font-family: $header-font-family;
  }

  small {
    font-size: 60%;
    text-transform: capitalize;
    font-family:$serif-font-family;
    color: $gray-3;
  }
}

nav{
  float: right;
  display: inline-block;
  margin: 0; padding: 0;
  line-height: 110px;
}

nav ul li{
  display: inline-block;
  text-transform: uppercase;
  padding: 0 20px;
}

li.current a{
  color: $link-hover;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .masthead{
    padding-bottom: 0;
  }
  .masthead-title{
    text-align: center;
    display: block;
    line-height: 60px;
    width: 100%;
  }
  nav{
    float: none;
    display: block;
    line-height: 30px;
  }
  nav ul {
    margin: 0 auto;
    width: 100%;
  }
  nav ul li{
    display: inline-block;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    width: 32%;
    padding: 0;
    margin: 0;
  }
}

footer{
  margin-top: 5em;
}

small {
  font-size: 60%;
}
