// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  z-index: 999;
  top: 0;
  position: relative;
  font-family: $body-font-family;

  img{
    float: left;
    margin: 0;
    padding: 0;
    width: 400px; height: auto;
    display: block;
    line-height: 105px;
  }
  a{
    border-bottom: none;
  }
}

.masthead-title {
  line-height: 105px;
  margin: 0; padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5%;
  float: left;

  small {
    display: none;
    font-size: 60%;
    text-transform: capitalize;
    font-family:$body-font-family;
    color: $gray-3;
  }
}

nav,
ul.home-social {
  display: inline-block;
  margin: 0; padding: 0;
}

nav ul,
ul.home-social {
  margin: 0; padding: 0;
  height: 80px;

}

nav ul li,
ul.home-social li{
  display: inline-block;
  padding: 40px 20px;
}

ul.home-social li{
  margin-left: 0px;
}

li.current a{
  color: $link-hover;
  border-bottom: dotted 1px $gray-5;
}

li.first{
  padding-left: 0;
}

li.first a{
  font-family: $header-font-family;
  letter-spacing: .5px;
}

@media screen and (max-width: 768px) {
  .masthead{
    padding-bottom: 0;
  }
  .masthead-title{
    text-align: center;
    display: block;
    line-height: 60px;
    width: 100%;
  }
  nav ul,
  ul.home-social {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 30px;
  }
  nav ul li,
  ul.home-social li{
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 15px 7px;
  }
  img.site-logo{
    width: 200px;
    margin: 0 auto;
    position: relative;
  }
  h1.intro{
    margin-top: 0px;
    margin:0;
  }
}

footer{
  margin-top: 5em;
}

small {
  font-size: 60%;
}
