// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

form{
  margin: 0 auto;
  width: 100%;
}

input,
textarea{
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  border: none;
  font-size: 16px;
  padding: 1rem;
  background: rgba(220, 220, 220, 0.3);
  font-family: $body-font-family;
  border-bottom: 1px dotted $gray-3;
}

textarea{
  min-height: 120px;
}

.button{
  box-sizing: border-box;
  border: 3px solid $red;
  background: transparent;
  border-radius: 5px;
  width: 60%;
  font-size: 18px;
}

.button:hover{
  background: $red;

}

#thanks{
  font-size: 5rem;
  text-align: center;
  margin: 0;
  margin-top: 0;
}

input[type=text],
input[type=email],
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border-radius: 7px;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: 1px solid rgba(81, 203, 238, .2);
  transform: scale(1.05);
  background: $gray-2;
  color: $blue;
}
