// Typography
//
// Headings, body text, lists, and other misc typographic elements.


h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  color: $gray-5;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: 1.5px;
  margin: 0; padding: 0;
}

h1.intro{
  font-family: $header-font-family;
  font-size: 5rem;
  line-height: 5rem;
  display: inline-block;
  margin: 40px 0px;
  margin-bottom: 0;
  color: $blue;
  text-transform:  none;
  min-height: 400px;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 1.25rem;
  margin: 0;
  letter-spacing: 0.5px;
}

h3 {
  letter-spacing: 1px;
  font-size: .8rem;
}

h3 a{
  text-transform: none;
  font-family: $body-font-family;
  font-size: 1rem;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid $gray-3;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}



// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
}

.intro-text{
  font-size: 1.5rem;
  line-height: 2.35rem;
  font-family: $body-font-family;
  margin-bottom: 1em;
}
