@font-face {
    font-family: 'Calibre-Light';
    src: url("/public/assets/fonts/calibre-light.ttf") format("truetype");
}

@font-face {
    font-family: 'Calibre-Bold';
    src: url("/public/assets/fonts/calibre-med.ttf") format("truetype");
}



$gray-1: #fafafa;
$gray-2: #ececec;
$gray-3: #999999;
$gray-4: #515151;
$gray-5: #313131;

$red: #EF002A;
$orange: #d28445;
$yellow: #FFD900;
$green: #90a959;
$cyan: #435569;
$blue: #19A2F6;
$brown: #435569;
$pink: #FF3399;

$body-font-family:"Calibre-Light", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;

$header-font-family:"Calibre-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;

$root-font-size: 1rem;
$root-line-height: 1.75;

$body-color: $gray-4;
$body-bg: $gray-1;
$link-color: $gray-3;
$link-hover: $gray-5;

$border-color: $gray-3;

$large-breakpoint: 38em;
$large-font-size: 1.125rem;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;
