@font-face {
  font-family: 'Questa';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/Questa/Questa_Sans_Light.otf');
}

@font-face {
  font-family: 'Questa-Bold';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Questa/Questa_Sans_Bold.otf');
}

@font-face {
  font-family: 'Domaine';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/DomaineDisplay-Regular.otf');
}