@font-face {
  font-family: 'Lydian';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/lydian/Lydian.ttf');
}

@font-face {
  font-family: 'Founders-Grotesk';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/founders/FoundersGrotesk-Light.otf');
}

@font-face {
  font-family: 'Founders-Grotesk Bold';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/founders/FoundersGrotesk-Medium.otf');
}

@font-face {
  font-family: 'Founders-Grotesk Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/founders/FoundersGroteskMono-Regular.otf');
}

@font-face {
  font-family: 'Domaine';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/DomaineDisplay-Regular.otf');
}
