@import "fonts";
@import "rouge-github";

body {
  background-color: #fafafa;
  color:#202020;
}
.lead-in{
  margin-bottom: 50px;
}

a {
  color: #202020;
  text-decoration: none;
  border-bottom: dotted 1px #202020;
  padding-bottom: 0em;
}

a:hover, a:focus {
  color: #0056FF; /* From http://clrs.cc */
  text-decoration: none;
  border-bottom: dotted 1px #0056FF;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

img {
  max-width:100%;
}

header {
  width:100%; height: 80px;
  padding-top: 40px;
  display: block;
  text-align:center;
  position: absolute;
  z-index: 2;
  -webkit-font-smoothing:subpixel-antialiased;
}

img.site-logo{
  float: left;
  position: relative;
}

nav{
  width: auto;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}

header ul li {
  width: auto;
  padding: 0 15px;
  display: inline-block;
}

header a{
  color: #0056FF;
}

nav ul li a{
  font-family: 'Founders-Grotesk Mono';
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #0056FF;
  text-decoration: none;
}

header ul li a:active {
  color:#000;
}

.wrap {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom:50px;
  z-index: 0;
}

section#work{
  background: #0056ff;
  color: #eaeaea;
}

section{
  padding: 25px 0;
}

li{
  list-style: none;
}

small {
  font-size:.8em;
}

.year{
  margin-top: 20px;
}

hr {
  border:0;
  background:#cdcdcd;
  height:1px;
  margin: 15px auto;
}

footer {
<<<<<<< HEAD
  position: relative;
  width: 100%; height: 75px;
  z-index: 0;
=======
  position: fixed;
  width: 95%;
  z-index: -1;
>>>>>>> origin/master
  bottom: 25px;
  -webkit-font-smoothing:subpixel-antialiased;
}

.site-hand{
  height: 60px;
  transition: all 3s;
  transition-timing: ease-in-out;
  width: auto;

  &:hover {
    transform: rotate(1080deg);
  }
}

footer p {
  font-size: 12px;
  float: right;
  width: 250px;
  color: #ccc;
}

ul.social{
  float: right;
}

ul.social li{
  display: inline-block;
  list-style-type: none;
  padding: 0 20px;
}
ul.social li:first-child{
  padding-left: 0;
}

.post-meta{
  text-align: center;
}

li.tags{
  text-align: center;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 10px;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h2.project-name{
  font-size: 5rem;
}


@media print, screen and (max-width: 960px) {

  header {
    position: absolute;
    margin-top: 30px;
    width:100%;
    display: block;
    text-align:center;
    position: absolute;
    -webkit-font-smoothing:subpixel-antialiased;
  }
  img.site-logo{
    float: none;
    position: relative;
    margin: 0 auto;
    display: block;
  }
  nav,
  header ul{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}
@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
