/**
 * Footer
 */
.footer {
  min-height: 25vh;
  color: $color-white;

  dl{
    a{
      @include link-posts();
      color: $color-white;
    }
    dd{
      line-height: 2em;
      font-size: .8em;
      font-family: $font-meta;
      margin-inline-start: 0px;
    }
  }

  dd{
    margin-left: 0;
  }
  dt{
    margin-bottom:5%;
    font-family: $font-header;
  }
  p{
    font-size: .8em;
    color: $color-white;
    font-family: $font-meta;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  &__social {
    display: flex;

    list-style-type: none;

    & > * {

      &:not(:last-child) {
        margin-right: 0.5em;
      }

      a {
        transition: color 0.3s ease-in-out;

        &:hover,
        &:active,
        &:focus {
          color: $color-beta;
        }
      }
    }
  }
}
