/**
 * Header
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6em;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  font-family: $font-meta;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .8em;


  @media (min-width: $mq-md) {
    padding-right: 4em;
    padding-left: 4em;
  }

  &__img {
    img {
      height: 5em;
      width: 5em;
    }
    @media(min-width: $mq-md){
      display: block;
    }
  }

  &__list {
    display: flex;

    list-style-type: none;

    & > * {

      &:not(:last-child) {
        margin-right: 1em;
      }

      a {
        @include link-underline();

        font-family: $font-meta;
        font-weight: 500;
      }
    }
  }
  span{
    text-transform: uppercase;
    letter-spacing: .1em;
  }
}

#home .header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  box-shadow: none;

  @media (min-width: $mq-md) {
    padding-right: 4em;
    padding-left: 4em;
    width: 60%;
  }

  &.scrollingHeader {
    @extend .animated;
    @extend .fadeInDown;

    position: fixed;
    width: 100%;
  }
}
