

/**
 * About
 */
.about {
  img{
    float: left;
  }

  a{
    @include link-posts();
  }

  &__meta{
    font-family: $font-meta;
    font-size:.8em;
    text-transform: uppercase;
    margin: 2em 0em;
    display: block;
  }

  &__text {
    margin-bottom: 1em;
    line-height: 2em;
    text-align: left;
    font-family: $font-body;
  }
  &__contact{
    font-family: $font-meta;
    font-size: .8em;
    line-height: 2em;
  }
  &__hero{
    font-family: $font-header;
    line-height:1.5em;
    margin-bottom: 1em;
  }
}
