/**
 * About
 */
.about {
  max-width: $mq-md;
  margin: 3em auto 0;

  overflow: hidden;

  @media (min-width: $mq-sm) {
    margin-top: 2em;
  }
  img{
    float: left;

  }

  h1{
    color: $color-black;
    text-align: left;
    margin-bottom: .5em;
  }

  &__text {
    margin-bottom: 1em;
    line-height: 1.25em;
    text-align: left;
    font-size: 1.5em;
  }
}
