/**
 * Mast
 */
.mast {
  position: relative;

  @media (min-width: $mq-md) {
    display: flex;
  }

  a{
    @include link-posts();
  }

  &__header {
    position: relative;
    z-index: 1;
    color: $color-black;
    text-align: left;
    max-width: 100%;
    padding: 25% 4em;
    h1 {
      font-size: 1.5em;
      line-height: 1.5em;
      animation: fadeIn 1s both 0.6s;
      margin-top: 10%;
      margin-bottom: 5%;
      max-width: 100%;

      @media (min-width: $mq-md) {
        font-size: 2.5em;
        max-width: 85%;
      }
    }
    p{
      line-height: 1.75em;
      max-width: 100%;
      margin-bottom: 5%;

      @media (min-width: $mq-md) {
        max-width: 85%;
      }
    }
    @media (min-width: $mq-md) {
      padding: 5% 3em;
      max-width: 60%;
      text-align: left;
    }

  }

  &__img {
    position: relative;

    padding-top: 10%;

    @media (min-width: $mq-md) {
      flex-basis: 40%;
      max-width: 40%;
      padding-top: 0;
      height: 100vh;
    }

    &:first-child {
      animation: fadeIn 3s both 0.3s;
    }

    &:last-child {
      display: none;

      @media (min-width: $mq-md) {
        display: block;

        animation: fadeIn 1s both 0.6s;
      }
    }
  }
}
