/**
 * Post
 */


/*.post {

  @media (min-width: $mq-md) {
    margin-top: -6em;
  }

  @media (min-width: $mq-xxl) {
    max-width: $mq-xl;
    margin-right: auto;
    margin-left: auto;
  }
}*/

.post-header {
  margin: 2em 0em;

  @media (min-width: $mq-md) {
    margin-bottom: 3em;
    text-align: left;
    max-width: 60%;
  }

  &__time {
    display: inline-block;
    font-family: $font-meta;
    font-size: .7em;
    letter-spacing: .1em;
  }

  &__description{
    margin-top: 1em;
    line-height: 2em;
    font-size: .8em;
    width: 100%;
  }
}

.post-content {

  @media (min-width: $mq-md) {
    margin-right: 0em;
    margin-left: 0em;
  }

  p {

    &:first-of-type {
      font-size: .81em;
      line-height: 2em;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    @include link-posts();
  }

  ol, ul {
    margin-bottom: 1em;
    margin-left: 1em;

    & > li {
      position: relative;

      &:before {
        position: absolute;
        left: -1em;
      }

      &:not(:last-child) {
        margin-bottom: 0.25em;
      }
    }
  }

  ol {
    list-style-type: none;
    counter-reset: li;

    & > li:before {
      content: counter(li) ".";

      counter-increment: li;
    }
  }

  figure {
    margin-top: .5em;
    margin-bottom: .5em;

    @media (min-width: $mq-sm) {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    img {
      width: 100%;
    }
  }

  figcaption {
    margin-top: 1em;
    font-family: $font-meta;
    font-size: .6em;
  }

  & figure.large-img {

    @media (min-width: $mq-md) {
      margin-right: -16em;
      margin-left: -16em;
    }
  }

  &__tags {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $mq-sm) {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  .container-btn {
    margin-top: 3em;
  }
}
