<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    <div class="container">
      <div class="post">
        <button onclick="goBack()">&larr; Back</button>

        <div class="bio__header">
          <a class="bio-title" data-aos="fade-up" data-aos-duration="600" href="{{ site.url }}{{ "/" | relative_url }}">
            <h1>{{ site.header }}</h1>
          </a>
          <div class="site-nav" data-aos="fade-up" data-aos-duration="600">
            {% if site.data.navigation %}
              <ul class="bio__nav">
                {% for item in site.data.navigation %}
                  <li class="nav-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>

        <div class="post__meta">
          <div class="post__title"><h2>{{ page.title }}</h2></div>
          <div class="post__auth"> by {{ page.author }}</div>
          <div class="post__date">
            {% if site.date_format %}
              {{ page.date | date: site.date_format }}
            {% else %}
              {{ page.date | date: "%b %-d, %Y" }}
            {% endif %}
          </div>
        </div>
        <div class="post__creds">
          <div class="post__role"><strong>ROLE:</strong> <br>{{ page.role }}</div>
          <div class="post__photo"><strong>COLLABORATORS:</strong> <br> {{page.photographer}}</div>
        </div>
        <div class="post__body">
          {{ content }}
        </div>

        {% if site.prev-next %}
          <div class="post__paginate">
            {% if page.previous.url %}
              <a class="post__paginate-left" href="{{ site.url }}{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a>
            {% endif %}

            {% if page.next.url %}
              <a class="post__paginate-right" href="{{ site.url }}{{ page.next.url | relative_url }}">{{ page.next.title }}</a>
            {% endif %}
          </div>
        {% endif %}
      </div>

    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init();

// You can also pass an optional settings object
// below listed default settings
AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)

  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 100, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 400, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: false, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});
    </script>
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
  </body>

</html>
