/**
 * Base Variables
 */
 @font-face {
   font-family: 'StyreneAWeb-Bold', sans-serif;
   src: url('/css/fonts/styrene-a/StyreneAWeb-Bold.otf') format('opentype');
   font-weight: 700;
   font-style: normal;
 }

 @font-face {
   font-family: 'GalaxieCopernicus-Book', serif;
   src: url('/css/fonts/copernicus/GalaxieCopernicus-Book.otf') format('opentype');
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: 'Martha', monospace;
   src: url('/css/fonts/martha/Martha-Regular.otf') format('opentype');
   font-weight: 400;
   font-style: normal;
 }


$font-header: 'Poppins', sans-serif;
$font-meta: 'Space Mono', monospace;
$font-body: 'Anonymous Pro', serif;

$color-black: #000;
$color-grey: #f4f4f4;
$color-white: #fff;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;
