/**
 * Base Variables
 */
$font-header: "Space Mono", sans-serif;
$font-body: "TT Norms", sans-serif;

$color-black: #202020;
$color-blue: #005CFF;
$color-grey: #FFFAF6;
$color-white: #FFFAF6;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;
