/**
 * Base Variables
 */
$font-header: 'StyreneAWeb-Bold' !important, sans-serif;
$font-meta: 'Martha' !important, monospace;
$font-body: 'GalaxieCopernicus-Book' !important, serif;

$color-black: #000;
$color-grey: #f4f4f4;
$color-white: #fff;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;
